#search,
#search-button {
    display: inline-block;
    vertical-align: middle;
}

#search {
    height: 30px;
    width: 73%;
    margin-left: 60px;
    margin-right: 10px; 
    font-size: 20px;
}

#search-button {
    padding: 7px 12px;
    font-size: 16px;
    cursor: pointer;
}

#repo-order {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

#repo-list {
    width: 80%;
    margin: 0 auto;
    height: 130px;
    border: 1px solid #ccc;
    padding: 20px;
}

#add-repo{
    display: inline-block;
    margin: 20px;
    margin-left: 60px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}

#add-favorite {
    display: inline-block;
    margin: 20px;
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
}
