body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.comment {
    border: 1px solid #69e218;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
}

.comment-list {
    border: 2px solid #520fec; 
    padding: 7px 10px; 
    font-size: 15px;
    margin-bottom: 10px;
    height:100px;
    border-radius: 10px;
}

.comment-input {
    width: 97%;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #047717;
    border-radius: 4px;
    margin-bottom: 10px;
}

.reply-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-button:hover {
    background-color: #45a049;
}