:root {
    --primary: #0969DA;
    --background: #000000;
    --gray: #d8d4e0;
    --white: #07ff6e;
    --navbar-height: 60px;
}

body {
    font-family: "Red Hat Display";
    font-size: 12px;
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    opacity: 1;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu__wrapper {
    display: flex;
    position: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 2;
    gap: 24px; 
    background-color: var(
        --background
    );
    height: var(--navbar-height);
    padding: 0px 16px;
    align-items: center;
}

.logo svg {
    fill: var(--white);
}

input[type="text"],
input[type="password"] {
    width: 200px;
    height: 35px;
    padding: 10px; 
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-size: 16px; 
}

.login-button {
    background-color: #4CAF50;
    margin-left: 5px;
    margin-right: 5px;
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.login-button:hover {
    background-color: #45a049; 
}

span{
    color:#d8d4e0
}

.forgot-password{
    color: rgb(186, 252, 4);
}

.signup {
    background-color: #7e970c;
    color: #fff;
    padding: 7px 15px; 
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

.signup:hover {background-color: #0056b3;}

.password-reset {
    color: #ffffff; 
    cursor: pointer;
}

.faq-container {
    margin: 0 auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 500px;
    padding: 2rem;
    border-radius: 1em;
    background-color: rgb(253, 253, 253);
    float: left;
  }
  
  details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    position: relative;
    max-width: 37.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  details:hover {
    background-color: var(--background-hover);
  }
  
  details:hover svg {
    stroke: var(--primary-blue);
  }
  
  details[open] {
    background-color: var(--background-hover);
  }
  
  details[open] .faq-title {
    color: var(--primary-blue);
  }
  
  summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
  }
  
  summary svg {
    stroke: var(--white);
  }
  
  details[open] summary svg {
    stroke: var(--primary-blue);
    transform: rotate(90deg);
  }
  
  summary:hover .faq-title {
    color: var(--primary-blue);
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:focus {
    outline: none;
  }
  
  .faq-title {
    color: #000000;
    width: 90%;
    transition: all 250ms ease-in-out;
  }
  
  .faq-content {
    color: #0969DA;
    padding: 0.2rem 1rem 1rem 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .expand-icon {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transition: all 150ms ease-out;
  }

.table-widget {
    margin-right: 10px;
    border-radius: 1rem;
    width: 400px;
    color: black;;
    background-color: white;
    padding: 1.5rem;
    border: 2px solid var(--gray-background);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: left;
    overflow-x: auto;
    float: right;
    margin-top: 30px;
}

.table-widget table {
    max-width: fit-content;
    border-collapse: collapse;
}

.table-widget caption {
    font-size: 1.12rem;
    font-weight: 700;
    text-align: left;
    margin: 0.5rem 0px;
}

.table-widget th {
    padding: 1.25rem 1rem;
    font-size: 0.875rem;
    color:black;
}

.table-widget thead {
    border-top: 2px solid var(--gray-background);
}

.table-widget tfoot {
    margin-top: 1rem;
    border-top: 2px solid var(--gray-background);
}

.table-widget td {
    padding: 0.5rem 1rem;
    vertical-align: middle;
}

.table-widget tbody tr {
    cursor: pointer;
}

.table-widget tbody tr:nth-child(odd) {
    background: var(--odd-row);
}

.table-widget tbody tr:hover {
    background: #abc2ec;
}

.table-row-count {
    font-size: 0.8rem;
    font-weight: 700;
    background: black;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    border-radius: 0.5rem;
}

.profile-info__name {
    color: black;
    font-weight: 700;
    white-space: nowrap;
}

.status {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;
    color: black;;
}

.table-widget {
    min-height: 5rem;
}
