@page "/repos/{UserUrl}"
@rendermode InteractiveServer

<PageTitle>My Repository</PageTitle>

<h1>My Repository</h1>

<div class="user">
    <!-- Profile content -->
</div>

<div class="find_box">
    <input type="text"
           name="find"
           placeholder=" Find My Repository"
           @bind=FindInput>
    <button id="New" class="btn btn-primary"
            type="button"
            @onclick="NewButtonClickAsync">
        New
    </button>
</div>

<div class="My_repo">
    <button @onclick="TypeButtonClickAsync">Type</button>
</div>

<div id="visibilityDropdown" style="display: none;">
</div>

<div class="Settings">
    <button id="Settings" class="btn btn-primary"
            type="button"
            @onclick="SettingsButtonClickAsync">
        Settings
    </button>
</div>

<div>
    <table class='table'>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Description</th>
                <th>Is Public</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in RepoList)
            {
                <tr>
                    <td>@emp.UserId/@emp.RepoName</td>
                    <td>@emp.Description</td>
                    <td>@emp.IsPublic</td>
                </tr>
            }
        </tbody>
    </table>
</div>