@page "/sign-up"
@rendermode InteractiveServer

<PageTitle>Sign up</PageTitle>

<h1>Sign up</h1>

<div>

    <label for="id">
        ID:
    </label>

    <input @bind-value="Id"
           @bind-value:event="oninput"
           placeholder="Your ID"
           required />
</div>

<div>
    
    <label for="password">
        PW:
    </label>
    
    <input @bind-value="Passwd"
           @bind-value:event="oninput"
           type="password"
           placeholder="Your Password"
           required />

</div>

<div>

    <label for="password">
        PW(Retry):
    </label>

    <input @bind-value="PasswdRe"
           @bind-value:event="oninput"
           type="password"
           placeholder="Your Password"
           required />

</div>

<div>

    <label for="nickname">
        Nickname:
    </label>

    <input @bind-value="Nickname"
           @bind-value:event="oninput"
           placeholder="Your Nickname"
           required
           pattern="^[a-zA-Z0-9_-.]*$" />

</div>

<div>

    <label for="email">
        Email:
    </label>

    <input @bind-value="Email"
           @bind-value:event="oninput"
           placeholder="Your Email"
           required
           pattern="^[a-zA-Z0-9_-.@@]*$" />

</div>

<div>

    <label for="error">
        @ErrorMsg
    </label>

</div>

<button class="btn btn-primary"
        type="button"
        @onclick="SignUpButtonClick">
    Sign up
</button>

