@page "/user/{UserUrl}"
@rendermode InteractiveServer

<PageTitle>@UserUrl</PageTitle>

<h1>@UserUrl</h1>

<h3>Profile</h3>

<div class="find_box">

    <input type="text" 
           name="find" 
           placeholder="Find Other User's Repository"
           @bind=FindInput>

    <button id="Find"
            type="submit"
            @onclick="FindReposButtonClick">
        Find
    </button>

</div>

<div class="My_repo">

    <button id="My_repo"
            type="submit"
            @onclick="ReposButtonClick">
        My Repository
    </button>

</div>

<div class="Settings">

    <button id="Settings"
            type="submit"
            @onclick="SettingsButtonClickAsync">
        Settings
    </button>

</div>

<div class="Logout">

    <button id="Settings"
            type="submit"
            @onclick="LogoutButtonClickAsync">
        Logout
    </button>

</div>

<div class="Introduce">

    <p>
        Introduce
    </p>

</div>